<div class="left-sidebar">
	<div class="imp-links">
		<a asp-controller="Home" asp-action="Index" style="color: var(--link-color)">
			<img src="images/news.png">
			Latest news
		</a>
		<a asp-controller="Friend" asp-action="Index">
			<img src="images/friends.png">
			Friends
		</a>
		<a href="#">
			<img src="images/group.png">
			Groups
		</a>
		 <a href="#">
			<img src="images/marketplace.png">
			Marketplace
		</a>
		<a href="#">
			<img src="images/watch.png">
			Watch
		</a> 
		@* <a href="#">
			See More
		</a> *@
	</div>
	<div class="shortcut-links">
		<p>Lời mời kết bạn</p>
		<a href="#">
			<img src="images/shortcut-1.png">
			Web Developers
		</a>
		
	</div>
	
</div>