@{
    var currentAction = ViewContext?.RouteData?.Values["action"]?.ToString();
    var currentController = ViewContext?.RouteData?.Values["controller"]?.ToString();
}
<div class="left-sidebar">
    <div class="imp-links">
        <a asp-controller="Home" asp-action="Index" style="@(currentAction == "Index" && currentController == "Home" ? "color: var(--link-color)" : "")">
            <img src="images/news.png">
            Tin tức
        </a>
        <a asp-controller="Friend" asp-action="Index" style="@(currentAction == "Index" && currentController == "Friend" ? "color: var(--link-color)" : "")">
            <img src="images/friends.png">
            Bạn bè
        </a>
        <a asp-controller="Chat" asp-action="Index" style="@(currentAction == "Index" && currentController == "Profile" ? "color: var(--link-color)" : "")">
            <img src="images/mess.png">
            Tin nhắn
        </a>
    </div>
    @* <div class="shortcut-links">
        <p>Lời mời kết bạn</p>
        <div class="friend-request">
            <div class="friend-info">
                <img src="l" alt="User Avatar" class="user-avatar">
                <span class="user-name">ullName</span>
            </div>
            <div class="friend-actions">
                <button class="btn-accept">Đồng ý</button>
                <button class="btn-decline">Từ chối</button>
            </div>
        </div>
    </div> *@

</div>