@model dynamic
<div class="write-post-container">
	<div class="user-profile">
		@if (Model != null)
		{
			<img src="@Model.Avatar">
		}
		else
		{
			<img src="img/avatardefault.png">
		}
		<div>
			@if (Model != null)
			{
				<p>@Model.Name</p>
			}
			else
			{
				<p></p>
			}
			<small>
				Public
				<i class="fas fa fa-caret-down"></i>
			</small>
		</div>
	</div>
	<div class="post-input-container">
		<textarea rows="3" placeholder="What's on your mind, John?"></textarea>
		<div class="add-post-links">
			<a href="#">
				<img src="images/live-video.png">
				Live Video
			</a>
			<a href="#">
				<img src="images/photo.png">
				Photo/Video
			</a>
			<a href="#">
				<img src="images/feeling.png">
				Feeling/Activity
			</a>
		</div>
	</div>
	<div class="post-button-container">
        <button class="btn post-button">Post</button>
		</div>
</div>