@model dynamic
<div class="write-post-container">
	<div class="user-profile">
		@if (Model != null)
		{
			<img src="@Model.Avatar">
		}
		else
		{
			<img src="img/avatardefault.png">
		}
		<div>
			@if (Model != null)
			{
				<p>@Model.Name</p>
			}
			else
			{
				<p></p>
			}
			<small>
				<select name="post_visibility" class="post-visibility">
					<option value="public">Public</option>
					<option value="private">Private</option>
				</select>
			</small>
		</div>
	</div>
	<div class="post-input-container">
		<textarea rows="3" name="post_content" id="post_content" placeholder="Bạn đang nghĩ gì, @(Model?.Name != null ? Model.Name : "")?"></textarea>
		<div class="add-post-links">
			<a href="#" onclick="chooseImage()">
				<img src="images/photo.png" alt="Ảnh">
				Ảnh
			</a>
			<a href="#">
				<img src="images/feeling.png" alt="Cảm xúc">
				Cảm xúc
			</a>
		</div>
		<input type="file" id="post_images" name="Images" multiple style="display:none" />
	</div>

	<div class="post-button-container">
		<button type="button" class="btn post-button" id="submitPostBtn">Đăng bài</button>
	</div>
	<div id="responseMessage" style="display:none;"></div>
</div>

