<html>
<head>
	<title>@ViewData["Title"]</title>
	<link rel="icon" href="/images/logo.png" type="image/x-icon" />
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/profile.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	@RenderSection("Styles", required: false)
</head>
<body>
	<nav>
		<div class="nav-left">
			<a asp-action="Index" asp-controller="Home">
				<img src="images/logo.png" class="logo">
			</a>
			<ul>
				<li>
					<img src="images/notification.png">
				</li>
				<li>
					<img src="images/inbox.png">
				</li>
				<li>
					<img src="images/video.png">
				</li>
			</ul>
		</div>
		@if (User.Identity != null && User.Identity.IsAuthenticated)
		{
			@await Component.InvokeAsync("AvatarProfile")
		}
	</nav>
	<div class="container">
		@await Component.InvokeAsync("LeftSidebar")
		<div class="main-content">	
			@RenderBody()
		</div>
		@await Component.InvokeAsync("RightSidebar")
	</div>
	<div class="footer">
		
	</div>

	<script src="js/script.js"></script>
</body>
@RenderSection("Scripts", required: false)
</html>