<html>
    <head>
    <title>@ViewData["Title"]</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/profile.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    @RenderSection("Styles", required: false)
    </head>
    <body>


        <nav>
            <div class="nav-left">
            <a asp-action="Index" asp-controller="Home">
                <img src="images/logo.png" class="logo">
                </a>        
                <ul>
                    <li>
                        <img src="images/notification.png">
                    </li>
                    <li>
                        <img src="images/inbox.png">
                    </li>
                    <li>
                        <img src="images/video.png">
                    </li>
                </ul>
            </div>
            @await Component.InvokeAsync("AvatarProfile")
        </nav>

        @RenderBody()
        <div class="footer">
            
        </div>

        <script src="js/script.js"></script>
    @RenderSection("Scripts", required: false)
    </body>
</html>
