@model dynamic
<div class="story-gallery">
	<div class="story story1"
		 style="background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url('@Url.Content(Model.Avatar)');">
		<img src="images/upload.png">
		<p>Post Story</p>
	</div>
	@* <div class="story story2">
		<img src="images/member-1.png">
		<p>Alison</p>
	</div>
	<div class="story story3">
		<img src="images/member-2.png">
		<p>Jackson</p>
	</div>
	<div class="story story4">
		<img src="images/member-3.png">
		<p>Samona</p>
	</div>
	<div class="story story5">
		<img src="images/member-4.png">
		<p>John</p>
	</div> *@
</div>